body {
  background-color: rgb(185, 190, 242);
}

h1{
    color: rgb(34, 11, 109);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

h3{
    color:rgb(65, 32, 171);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
